/* .nav{ }*/
  
.uwd-navbar-container{
    background-color: white;
    margin-bottom : -100px;
}
#mtc-id-main{
    margin-top: 110px;
    padding-bottom: 100px;
    background-color: #afb7de;
}
.mt-heading-section{
    text-align: center;
    padding-top:100px;
    font-size: 40px;
    width: 100%;
    font-family: 'Averia Gruesa Libre';
}
.mt-para-section{
    text-align: center;
    max-width: 75%;
    margin-left: 12.5%;
    line-height: 25px;
    justify-content: center;
    margin-top: -25px; 
    font-family: 'Roboto';
}

    /* css of main tag */

.mt-link-section a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 7px;
    }
.mt-link-section a:hover{
    border-style: none;   
    text-decoration: underline;
    color: red;
}



/* css of section tag*/

#stc-id-section{
    margin-top: 180px;
}
.stc-section-container h2{
    font-size: 35px;
    font-weight: 550;
}
.stc-section-container p{
    font-family: "Quicksand";
    margin-top: -15px;
}
.stc-courses-container{
    display: flex;
    margin: 50px;
    justify-content: space-between;
}
.st-para-container{
    color: #777;
    text-align: justify;
}
.st-offering-courses{
    width:100%;
    background-color: #fff3f3;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
.st-offering-courses:hover{
    /* box-shadow:3px 3px; */
    cursor: pointer;
    box-shadow: 0 0 10px 0px rgb(10 10 10);
}
.uw-common-heading{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight:200;
}


/* facilities styling */
.fs-row-conatiner{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.fsc-sec-container {
    width: 80%;
    margin: auto;
}

.fsc-sec-container h1 {
    font-size: 36px;
    font-weight: 600;
}

.fsc-sec-container p {
    font-size: 14px;
    color: #777;
    font-weight: 300;
}

.fs-col-container {
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    flex-basis: 31%;
}

.fs-col-container img {
    width: 100%;
    border-radius: 10px;
}

.fs-col-container p {
    padding: 0;
}

.fs-col-container h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/* styling of about-us  */
.sat-about-us{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 12px;
    /* flex-basis: 50%; */
}
.sa-about-text{
    color: #777;
    font-size: 14px;
    width: 50%;
    padding: 12px;
}
.sa-about-text a{
    text-decoration: none;
    padding-left: 200px;
}
.sa-about-text a:hover{
    text-decoration: underline;
}
.sa-about-image{
    width: 50%;
    margin: auto;
    padding: 12px;
}
.sat-about-container{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

    
/* styling of contact-us  */
.csc-contact-container {
    width: 80%;
    margin-top:150px;
    margin-left: 220px;
}
.cs-row-container{
    display: flex;
}

.cs-col-container {
    flex-basis: 48%;
    margin-bottom: 30px;
}

.cs-col-container div {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.cs-col-container div .fa {
    font-size: 28px;
    color: #5a9bbe;
    margin: 10px;
    margin-right: 30px;
}

.cs-col-container span p {
    color: #777;
    padding: 0;
}

.cs-col-container span h5 {
    font-size: 20px;
    font-weight: 400;
    color: #555;
    margin-bottom: 3px;
}

.cs-col-container input,textarea {
    width: 100%;
    padding: 10px;
    font-size: 13px;
    margin: 15px;
    border-radius: 5px;
    border: 1px solid #555;
    outline: none;
}
.cs-col-container button:hover{
    background-color: #7dc297;
}


/* footer tag styling */

.ftc-container{
    top: auto;
}
.ftc-about-container{
    font-weight: 50;
    margin: 0 auto;
    width: 80%;
    color: #777;
}